
{{#if error}}
<h1>{{error}}</h1>
{{/if}}

<div class='container'>
<div class='heading'>Your Masterpieces</div>
<div class='d-flex flex-row justify-content-center flex-wrap '>
{{#if images}}
{{#each images}}
<img class='m-3' src="/memes/{{{filename}}}" alt={{{filename}}} >
{{/each}}

{{/if}}
</div>
</div>